.odd {
    background-color: hsl(0, 100%, 74%);
    font-family: Verdana, 'DejaVu Sans', 'sans-serif';
}

#number_2 {
    color: hsl(239, 100%, 74%);
    font-size: 36px;
}

.cooler {
    font-size: 24px;
}

#number_4 {
    background-color: rgb(125, 255, 125);
    font-size: 24px;
    font-weight: bold;
}

